* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #b9c5ec;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(images/programador.png);
}

header {
  width: 100%;
}
/* INÍCIO HEADER */
.container {
  background-color: #f2f2f2;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-bar a {
  color: #151440;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  font-size: 17px;
  cursor: pointer;
  padding: 10px 15px;
  border-left: 1px solid black;
}



.nav-bar a:hover {
  color: #4669DB;
}

.logo-nav img {
  height: 40px;
  object-fit: contain;
  padding-right: 90px;
}

.botao {
  text-decoration: none;
   background-color: #151440;
  color: #f2f2f2;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.botao:hover {
  color: #4669DB;
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
/* FIM HEADER */

/*INÍCIO MAIN */
main{
  flex: 1;
  padding: 20px;
}

.text{
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  font-size: 17px;
  padding-bottom: 20px;
}

.container-script{
    display: flex;
    border: #f2f2f2 solid ;
    padding: 19%;
    border-radius: 10px;
    text-align: center;
    
  }

.sub-title-qm{
  display: flex;
  color: #f2f2f2;
  justify-content: center;
  padding-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
}



.sub-title-p{
  display: flex;
  color: #f2f2f2;
  justify-content: center;
  padding-top: 10px ;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}









/*FIM MAIN */